body {
    font-family: Arial, sans-serif;
    background-color: #D3D3D3;
    margin: 0;
    padding: 20px;
    text-align: center;
}

form {
    background-color: #B0E0E6;
    padding: 20px;
    border: 2px solid #4682B4;
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
}
#firstName ,#lastName{
   width: 60%;
   
}
header {
    
    background: url(image/low-polygon-shapes-dark-background-260nw-1305822256.webp);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 90%;
    color: #FFD700;
   
    text-align: center;
    position: fixed ;
    width: 100%;
    top: 0;
   
}
nav a {
    color: #32CD32 ;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
   
}
h2 {
    font-size: 1.8em;
    color: #061616;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #4682B4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4169E1;
}
